<div id="{{id}}" class="{{classes}}">
	{{#if isVideo}}
	<video src="{{url}}" autoplay loop style="width:100%; border:0px" class="token-story-hud-click"></video>
	{{else}}
	<img src="{{url}}" style="width:100%; border:0px" class="token-story-hud-click"></img>
	{{/if}}
</div>